# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a

# Vim Temp Files
*~
*.swp

# Qt Compiled Project
/*-build-*

# Qt Project User Config
/qtopencv_static/*.user

# 7zip zipped files
*.7z
